In [36]:
import pandas as pd

In [48]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [50]:
schools_df = pd.DataFrame()

In [51]:
schools_df["School_ID"] = school_id
print(schools_df)

   School_ID
0          0
1          1
2          2
3          3
4          4

In [53]:
schools_df["School_Name"] = school_name
schools_df["Type_of_School"] = type_of_school

In [54]:
print(schools_df)

   School_ID            School_Name Type_of_School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [55]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)